.Cpassword-main{
    display:flex;
    align-items: center;
    justify-content: center;
}
.Cpassword-form{
    width: 300px;
    border: 1px solid rgb(210, 210, 210);
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}
.Cpassword-form-data{
    display: flex;
    flex-direction: column;

}
.Cpassword-form h2{
    text-align: center;

}

.Cpassword-form-data label{
    padding-bottom: 10px;
    padding-top: 20px;

}

.Cpassword-form-data input{
    padding: 12px;
    border-radius: 7px;
    border: 1px solid rgb(165, 163, 163);
}
.Cpassword-form-data input:focus{
    outline: none;
}
.resend-otp{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.Reotpbtn{
    width: 90px;
    margin-top: 10px;
    padding: 6px;
    background-color: white;
    border:none;
    border-radius: 10px;
    background-color: rgb(11,119,242);
    color: white;
    cursor: pointer;
    
}
.Reotpbtn:hover{
    background-color:rgb(8, 81, 165) ;
}
.submit-btn{
    width: 250px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color:rgb(11,119,242) ;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.submit-btn:hover{
    background-color:rgb(8, 81, 165) ;
}

.Back-to-login{
    background-color: white;
    border: none;
    cursor: pointer;
}