.admin-staff-view-main{
    margin-left: 10px;
    max-height: 70vh;      
  overflow-y: auto;      
  padding-right: 10px; 
}
.staff-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 15px;
  margin: 20px 5%;
  justify-content: center; 
}
.staff-card{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(254, 254, 254);
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}
.staff-card:hover{
    box-shadow: 1px 7px 3px grey;
}

.staffcard-left img{
    width: 70px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 15px;
    background-color: white;
}
.staff-card-right h3{
    text-align: center;
}
.staff-card-right p{
    margin-left: 10px;
}

.staff-details-head button{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}
.staff-details-head button:hover{
    background-color: black;
    color: white;   
}

.staff-details-body-con-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.staff-details-body-con-img img{
    width: 180px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 30px;
    
}
.staff-details-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}
.staff-details-body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}
.staff-details-body-con{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px 10px;
}
.staff-details-body-con p{
    padding-left: 10%;
}
.staff-details-body-con-btn{
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
}
.staff-details-body-con-btn button{
    width: 100px;
    padding: 7px;
    border-radius: 10px;
    color: red;
    border: 1px solid red;
    background-color: white;
    cursor: pointer;
}
.staff-details-body-con-btn button:hover{
    color: white;
    background-color: red;
}